body{
    width:100vw;
    height:100vh;
    background-color:white;
    margin:0;
    background-image: url("../file esterni/sfondo.jpg");
}

#head{
    position:relative;
    top:0;
    height:15%;
    width:100vw;
    background-color:black;
}

#jourubuz{
    position: absolute;
    top:6%;
    left:40%;
    font-size: 9vh;
    font-family: Imitation;
    font-weight: bold;
    color:white;

}
#hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left:2%;
    top:30%;
    float: right;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
 top: 6px;
}
#hamburger span:nth-child(2) {
 top: 18px;
}
#hamburger span:nth-child(3) {
 top: 30px;
}
#quadrato1{
    position: absolute;
    height: 45vh;
    width:18vw;
    color:white;
    margin-top:200px;
    background-color: white;
    left:10px;
}
#titolo{
    color:white;
}
#btnhome{
    background-color:gray;
    font-size: 2.5vh;
    color:white;
    width: 10%;
    position: absolute;
    right:2px;
    margin-top:0;
  }