body{
    width:100vh;
    height:100vh;
    background-color:darkcyan;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#head{
    position:relative;
    top:0;
    left:0%;
    height:15vh;
    width:100vw;
    background-color:aquamarine;
}

#jourubuz{
    position: absolute;
    top:6%;
    left:40%;
    font-size: 9vh;
    font-family: Calibri;
    font-weight: bold;

}
#hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left:2%;
    top:30%;
    float: right;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
 top: 6px;
}
#hamburger span:nth-child(2) {
 top: 18px;
}
#hamburger span:nth-child(3) {
 top: 30px;
}




.container-fluid{
    width:90vw;
    height:55vh;
    position: relative;
    left:5vw;
    top:-1px;
}
.carousel-inner{
    border: 5px solid black;
    border-radius: 1%;
}
.w-100{
    position: relative;
    height: 55vh;
}


.sotto{
    width:29.5vw;
    height:28vh;
    border: 5px solid black;
    border-radius: 1%;
    
}

#primosotto{
    position: relative;
    left:5vw;
    top:1.5vh;
    background-color: #9bdbe7;
}
#secondosotto{
    position: absolute;
    left:35.3vw;
    top:71.5vh;
    background-color: #aecfb0;
}
#terzosotto{
    position: absolute;
    right:5vw;
    top:71.5vh;
    background-color: #ffd0bc;

}

#menu{
    position:absolute;
    left:-20vw;
    width:20vw;
    height: 85vh;
    background-color: black;
    transition: 500ms ;
    z-index: 100;
    text-decoration: none;
}

#menu:hover{
    text-decoration: none;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
}

#tasti-menu{
    background-color: white;
    font-size: 4vh;
    font-family: Calibri;
    font-weight: bold;
    margin-top: 2vh;
    text-decoration: none;
    color: black;
}

#tasti-menu:hover{
    background-color: green;
    text-decoration: none;
}