body{
    width:100vw;
    height:100vh;
    background-color:white;
    margin:0;
    background-image: url("../file esterni/sfondo.jpg");
}

#head{
    position:relative;
    top:0;
    height:15%;
    width:100vw;
    background-color:black;
}

#jourubuz{
    position: absolute;
    top:6%;
    left:40%;
    font-size: 9vh;
    font-family: Imitation;
    font-weight: bold;
    color:white;

}
#hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left:2%;
    top:30%;
    float: right;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#hamburger span:nth-child(1) {
 top: 6px;
}
#hamburger span:nth-child(2) {
 top: 18px;
}
#hamburger span:nth-child(3) {
 top: 30px;
}
#container
{
    position: absolute;
    left:38%;
    height: 40vh;
    width: 35vh;
    border:7px solid white;
    padding:7%;
    border-radius:80% 20% 90% 10% / 47% 73% 27% 53%  ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:black;
    margin-top:5vh;
}
#impostazioni{
    font-size: 5vh;
    color:white;
    display: flex;
    justify-content: center;
    margin:0;   
}
#preferenze{
    font-size: 3vh;
    color:white;
}
#textpreferenza{
  font-size: 2.5vh;
}
#textlocalita{
  font-size: 2.5vh;
}
#aggiungi{
  background-color:gray;
  font-size: 2.5vh;
  color:white;
}
#rimuovi{
  background-color:gray;
  font-size: 2.5vh;
  color:white;
}
#localita{
    font-size: 3vh;
    color:white;
}
#btnlocalita{
  background-color:gray;
  font-size: 2.5vh;
  color:white;
}
#btnhome{
  background-color:gray;
  font-size: 2.5vh;
  color:white;
  width: 100%;
}
select{
  font-size: 3vh;
  color: black;
}
