body{
    width:100vh;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: auto;
    margin-top:10vh;
    
          
}
#sfondo{
    background-attachment: fixed;

}
#username{
    font: italic;
    font-size: 2.5vh;
}
#textuser{
    font-size: 2.5vh;
}
#textpw{
    font-size: 2.5vh;
}

#password{
    font: italic;
    font-size: 2.5vh;
}
#centro{
    height: 30vh;
    width: 30vh;
    border:5px solid black;
    padding:20%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#scritta_login{
    text-align: center;
    font: italic;
    font-size: 3vh;
}
#accedi{
    background-color:gray;
    font-size: 2.5vh;


}
#registra{
    background-color: gray;
    font-size: 2.5vh;
    margin-bottom: 2vh;
}

